<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="com.task"/>

    <http use-expressions="true" auto-config="true">
        <!--we intercept request and make sure that login users with specific role can only access the pages-->
        <intercept-url pattern="/welcome" access="hasAnyRole('ROLE_ADMIN', 'ROLE_CUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_MANAGER')"/>
        <intercept-url pattern="/admin*" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/customer*" access="hasRole('ROLE_CUSTOMER')"/>
        <intercept-url pattern="/employee*" access="hasRole('ROLE_EMPLOYEE')"/>
        <intercept-url pattern="/project-manager*" access="hasRole('ROLE_MANAGER')"/>

        <form-login login-page="/login"
                    default-target-url="/welcome"
                    authentication-failure-url="/login?error="/>
        <logout invalidate-session="true"
                logout-success-url="/logout"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <beans:bean id="customUserDetailsService" class="com.task.service.CustomUserDetailsService"/>

    <!--Controllers-->
    <mvc:view-controller path="/login" view-name="login"/>
    <mvc:view-controller path="/logout" view-name="logout"/>
</beans:beans>